#section1{
    background-image: url("../Images/spainflag.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#section2{
    background-image: url("../Images/boraboraflag.png");
    background-size:110%;
    background-repeat: no-repeat;
    background-position: center;
}

#section3{
    background-image: url("../Images/Irishflag.jpg");
    background-size:110%;
    background-repeat: no-repeat;
    background-position: center;
}

.section{
    text-align: center;
    color: black;
    font-size: larger;
}

.sportreasons{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 40%;
    color: black;
    text-align: center;
}

.sportback{
    position: absolute;
    top: 90%;
    left: 5%;
    color: black;
    font-size: 150%;
}

.sportback a{
    text-decoration: none;
    color: black;
    padding: 10px;
}

.sportnext{
    position: absolute;
    top: 90%;
    right: 5%;
    color: black;
    font-size: 150%;
}

.sportnext a{
    text-decoration: none;
    color: black;
}

.mainheading {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 5%;
}

.favsport{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 15%;
}

.details{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 25%;
    
}

.sportsreasons{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    top: 42.5%;
}

.club{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 65%;
}

.training{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 75%;
}

.alicante1 img{
    height: 400px;
    width: 400px;
    border-radius: 50%;
}

.alicante1{
    position: absolute;
    top: 20%;
    left: 7%;

}

.alicante2 img{
    height: 400px;
    width: 400px;
    border-radius: 50%;
}

.alicante2{
   position: absolute;
   top: 20%;
   right: 7%;
}

.paragraphspain{
    color: black;
    text-align: center;
    max-width: 28%;
    margin-left: auto;
    margin-right: auto;
}

.borabora1 img{
    height: 400px;
    width: 400px;
    border-radius: 50%;
}

.borabora1{
    position: absolute;
    top: 20%;
    left: 8%;
}

.borabora2 img{
    height: 400px;
    width: 400px;
    border-radius: 50%;
}

.borabora2{
    position: absolute;
    top: 20%;
    right: 8%;
}

.paragraphbora{
    color: black;
    position: absolute;
    top: 36%;
    left: 36%;
    max-width: 28%;
}

.boraboraheading{
    position: absolute;
    top: 30%;
    left: 42%;
}

.ireland1 img{
    height: 400px;
    width: 400px;
    border-radius: 50%;
}

.ireland1{
    position: absolute;
    top: 20%;
    left: 8%;
}

.ireland2 img{
    height: 400px;
    width: 400px;
    border-radius: 50%;
}

.ireland2{
    position: absolute;
    top: 20%;
    right: 8%;
}

.irelandheading{
    position: absolute;
    top: 35%;
    left: 47%;
}

.paragraphireland{
    color: black;
    position: absolute;
    top: 41%;
    left: 36%;
    max-width: 28%;
}

.btnhometravel{
    position: absolute;
    top: 90%;
    right: 5%;
    z-index: 99;
    opacity: 1;
    font-size: 150%;
}

.btnprev{
    position: absolute;
    top: 90%;
    left: 5%;
    z-index: 99;
    font-size: 150%;
}

.homebutton{
    position: absolute;
    top:85%;
    left:47%;
}    

.sportspage{
    background-image: url(../Images/rugz.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    color: black;
    text-align: center;
}

.cloudpage{
    background-image: url(../Images/background2.jpg);
}

.uccsport{
    position:absolute;
    right:5%;
    top:5%;
}

.uccsport img{
    max-height: 150px;
}

.ocrfc{
    position: absolute;
    left:5%;
    top:5%;
}

.ocrfc img{
    max-height: 150px;
}

#section4{
    background-image: url(../Images/Clouds.jpg);
    background-size: 100%;
}

.aboutcloudpara{
    position: absolute;
    top: 55%;
    left: 25%;
    width: 50%;
}

.aboutcloudhead{
    position: absolute;
    top: 10%;
    left: 25%;
    width: 50%;
}

.cloudhistorypara{
    color: black;
    position: absolute;
    width: 30%;
    top: 25%;
    left: 10%;
}

.history{
    color: black;
    position: absolute;
    top: 17.5%;
    left: 21%;
}

.cloudhistoryhead{
    position: absolute;
    top: 2.5%;
    left: 35%;
}

.trendshead{
    position: absolute;
    top: 17.5%;
    right: 18%;
}

.trendspara{
    position: absolute;
    width: 30%;
    top: 25%;
    right: 10%;
}

#section5{
    background-image: url(../Images/Clouds2.jpg);
    background-size: 100%;
}

#section6{
    background-image: url(../Images/Clouds3.jpg);
    background-size: 100%;
}

.btncloudhome{
    position: absolute;
    top: 90%;
    right: 2.5%;
}

.populartechhead{
    position: absolute;
    top: 2.5%;
    left: 28%;
}

.drivepara{
    position: absolute;
    top: 30%;
    width: 40%;
    left: 2.5%;
}

.dropboxpara{
    position: absolute;
    top: 30%;
    width: 40%;
    right: 2.5%;
}

.onedrivepara{
    position: absolute;
    top: 70%;
    width: 40%;
    left: 2.5%;
}

.icloudpara{
    position: absolute;
    top: 70%;
    width: 40%;
    left: 55%;
}

.drivepic img{
    height: 150px;
    width: 450px;
}

.drivepic{
    position: absolute;
    top: 12%;
    left: 5%;
}

.dropboxpic img{
    height: 150px;
    width: 450px;
}

.dropboxpic{
    position: absolute;
    top: 12%;
    right: 6%;
}

.icloudpic img{
    height: 150px;
    width: 450px;
}

.icloudpic{
    position: absolute;
    top: 53%;
    right: 8%;
}

.onedrivepic img{
    height: 150px;
    width: 450px;
}

.onedrivepic{
    position: absolute;
    top: 53%;
    left: 5.5%;
}

.btncloudprev{
    position: absolute;
    top: 90%;
    left: 2.5%;
}

.btncloudhome{
    position: absolute;
    top: 90%;
    right: 2.5%;
}

.cloudcomputing img{
    height: 245px;
    width: 530px;
}

.cloudcomputing{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 38%;
}