#section1{
    background-image: url("../Images/spainflag.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#section2{
    background-image: url("../Images/australianflag.png");
    background-size:110%;
    background-repeat: no-repeat;
    background-position: center;
}

#section3{
    background-image: url("../Images/Irishflag.jpg");
    background-size:110%;
    background-repeat: no-repeat;
    background-position: center;
}

.section{
    text-align: center;
    color: black;
    font-size: larger;
}


.sportreasons{
    max-width: 40%;
    color: black;
    text-align: center;
}

.mainheading {
    text-align: center;
}

.paragraphaus{
    max-width: 500px;
    text-align: center;
    position: absolute;
    right:33.5%;
}

.paragraphspain{
    color: black;
    text-align: center;
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.homebutton{
    position: absolute;
    top:85%;
    left:47%;
}    

.sportspage{
        background-image: url(../Images/rugz.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        color: black;
        text-align: center;
}

.cloudpage{
    background-image: url(../Images/background2.jpg);
}

.uccsport{
    position:absolute;
    right:5%;
    top:5%;
}

.uccsport img{
    max-height: 150px;
}

.ocrfc{
    position: absolute;
    left:5%;
    top:5%;
}

.ocrfc img{
    max-height: 150px;
}

#section4{
    background-image: url(../Images/Clouds.jpg);
    background-size: 100%;
}

.aboutcloudpara{
    position: absolute;
    top: 45%;
    left: 25%;
    width: 50%;
}

.aboutcloudhead{
        position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
}

#section5{
    background-image: url(../Images/Clouds2.jpg);
    background-size: 100%;
}

#section6{
    background-image: url(../Images/Clouds3.jpg);
    background-size: 100%;
}
