/* Styling table */
table, th, td {
    border: 1px solid black;
    width: 30%;
    max-width: 30%;
}

.mainheading{
    text-align: center;
}

.mainheading3{
    text-align: center;
}

body{
    background-color: #454140
}


