body{
    background-image:url("../Images/greybackground.jpg");
    background-size:100%;
    background-repeat: no-repeat;
}

/* Styling table */
table, th, td {
    border: 1px solid black;
    width: 30%;
    max-width: 30%;
}

.mainheading{
    text-align: center;
}

.mainheading3{
    text-align: center;
}

